@model IEnumerable<BusTicketsMonolitic.Web.Data.Models.ReservaDetalle.ReservaDetalleModelAccess>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservas Detalles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.IdReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAsiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAsiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdReservaDetalle }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdReservaDetalle }) |
                     @Html.ActionLink("Delete", "Delete", new { id = item.IdReservaDetalle } )
            </td>
        </tr>
}
    </tbody>
</table>
